@import '../../theme/core-variables.scss';

.header {
    background-color: $dark;

    .wrapper {
        @include container;

        height: px-to-rem(50px);
        justify-content: space-between;
        align-items: center;
        background-color: $dark;
        color: $white;
    }
}
