@import '../../theme/core-variables.scss';
@import '../../theme/fonts.scss';

.logo {
    display: flex;
    align-items: center;
    font-family: 'lato', Times, serif;
    text-transform: uppercase;
    font-size: px-to-rem(20px);

    .logo-img {
        width: px-to-rem(30px);
        height: px-to-rem(30px);
        margin-right: px-to-rem(8px);
    }
}
