@import '../../theme/core-variables.scss';

.breadcrumbs {
    background-color: $white;

    .wrapper {
        @include container;

        height: px-to-rem(50px);
        justify-content: flex-start;
        align-items: center;
        // color: $black;

        .copyright {
            @include baseFont;
        }
    }
}
