@import '../../theme/core-variables.scss';

.input-with-icon {
    position: relative;
}

.input {
    @include basePaddings;

    height: px-to-rem(30px);
    width: 100%;
    border: px-to-rem(1px) solid $light-grey;
    border-radius: px-to-rem(3px);
    padding-left: px-to-rem(28px);
    outline: none;
    color: $light-grey;

    &.focused {
        padding-left: px-to-rem(16px);
        color: $grey;
    }
}

fa-icon {
    position: absolute;
    top: px-to-rem(7px);
    left: px-to-rem(8px);
    color: $light-grey;

    &.focused {
        display: none;
    }
}
