@import '../../theme/core-variables.scss';

.input-with-icon {
    display: flex;
    align-items: center;

    .input-box {
        display: flex;
        align-items: center;
        flex-basis: px-to-rem(300px);

        fa-icon {
            z-index: 1;
            padding-left: px-to-rem(6px);
            color: $light-grey;

            &.focused {
                display: none;
            }
        }

        .input {
            @include basePaddings;

            flex-basis: 100%;
            width: 0;
            margin-left: px-to-rem(-22px);
            padding-left: px-to-rem(25px);
            border: px-to-rem(1px) solid $light-grey;
            border-radius: px-to-rem(3px);
            color: $light-grey;
            outline: none;

            &:focus {
                margin-left: 0;
                padding-left: px-to-rem(10px);
                outline-offset: 0;
                color: $grey;
            }
        }
    }

    .search {
        @include button;

        margin: px-to-rem(8px) 0 px-to-rem(8px) px-to-rem(12px);
        background-color: $yellow-green;
        color: $white;

        &:hover {
            background-color: $yellow-green-hover;
        }
    }
}
