<div class="course-item">
    <div class="left-container">
        <div class="first-line">
            <a routerLink="../notFound"><h3 class="title">{{ course.title }}</h3></a>
            <div class="date-info">
                <div class="duration">
                    <fa-icon [icon]="['far', 'clock']"></fa-icon>
                    {{ course.duration | minuteToHours }}
                </div>
                <div class="creation-date">
                    <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
                    {{ course.creationDate | date:'d LLL, yyyy' }}
                </div>
            </div>
        </div>
        <div class="description">{{ course.description }}</div>
    </div>
    <div class="right-container">
        <button
            class="edit"
            (click)="onEdit(course.id)"
        >
            <fa-icon [icon]="['fas', 'pen']" class="fa-pen"></fa-icon>
            Edit
        </button>
        <button
            class="delete"
            (click)="onDelete(course.id)"
        >
            <fa-icon [icon]="['fas', 'trash']" class="fa-trash"></fa-icon>
            Delete
        </button>
    </div>
</div>
