<div class="course-item">
    <div class="left-container">
        <div class="first-line">
            <a routerLink="../notFound"><h3 class="title">{{ course.title }}</h3></a>
            <div class="date-info">
                <div class="duration">
                    <i class="far fa-clock"></i>
                    {{ course.duration | minuteToHours }}
                </div>
                <div class="creation-date">
                    <i class="far fa-calendar-alt"></i>
                    {{ course.creationDate | date:'d LLL, yyyy' }}
                </div>
            </div>
        </div>
        <div class="description">{{ course.description }}</div>
    </div>
    <div class="right-container">
        <button
            class="edit"
            (click)="onEdit(course.id)"
        >
            <i class="fas fa-pen"></i>
            Edit
        </button>
        <button
            class="delete"
            (click)="onDelete(course.id)"
        >
            <i class="fas fa-trash"></i>
            Delete
        </button>
    </div>
</div>
