@import '../../theme/core-variables.scss';

.course-control {
    .wrapper {
        @include container;

        height: px-to-rem(50px);
        justify-content: flex-start;
        align-items: center;

        .copyright {
            @include baseFont;
        }
    }
}
