<div class="course-list">
    <div class="wrapper">
        <button class="add-course">
            <i class="fas fa-plus"></i>
            Add course
        </button>
        <app-course
            *ngFor="let course of courses.slice(0, listSize)"
            [course]="course"
            (deleteCourse)="onDeleteCourse($event)"
            (editCourse)="onEditCourse($event)"
        ></app-course>
        <app-load-more
            *ngIf="listSize < courses.length"
            (loadMore)="onLoadRequest()"
        ></app-load-more>
    </div>
</div>
