@import '../../theme/core-variables.scss';

.course-list {
    padding-top: px-to-rem(20px);
    padding-bottom: px-to-rem(20px);

    .wrapper {
        @include container;

        height: px-to-rem(50px);
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .add-course {
            @include button;

            margin-left: auto;
            margin-bottom: px-to-rem(10px);
            color: $white;
            background-color: $medium-turquoise;

            &:hover {
                background-color: $medium-turquoise-hovered;
            }
        }
    }
}
